<h3>Contact Arialle Dye</h3>
<form enctype="text/plain" action="MAILTO:arialle.gotogirl@gmail.com" method="GET">
		<p>
			Name
			<br />
			<input type="text" name="first_name" />
		</p>
	<p>
			Email
		<br />
		<input type="text" name="email" /> 
	</p>
	<p>
		Phone Number
		<br />
		<input type="text" name="number" />
	</p>
	<p>
		Contact Preference<br />
		<input type="checkbox" name="preference1" value="Email"/>Email<br />
		<input type="checkbox" name="preference2" value="Phone">Phone<br />
	</p>
	<p>Comments
	<br />
	<textarea name="body"></textarea>
	<p>
		<input type="submit" value="Contact" />
	</p>
</form>
<br />




<a href="/">Home</a>
