<h2>Resume</h2>
<hr />
<hr />
<h3>Goal</h3>
<p>My ultimate goal is to travelling the world with my partner, Austin, while we maintain a beautiful fashion website featuring our leatherwork and various ecclectic world trends.</p>
<br />
<h3>Vision</h3>
<p>Bring a company creativity, knowledge and adaptablity for their growth, and my own.</p>
<hr />
<h3>Background</h3>
	<h4>Freelance Wordpress Sites</h4>
		<ul>
			<li>
				<a href="">Austen Regency Con</a>
			</li>
			<li>
				<a href="">Valley Mountain Medical</a>
			</li>
			<li>
				<a href="">PI Medical Fortress</a>
			</li>
			<li>
				<a href="">Grant Professinal Strategies</a>
			</li>
			<li>
				<a href="">The Mermaid Post</a>
			</li>
		</ul>
	<h4>Business</h4>
			QALY Medical Systems Inc. &amp; Praline Corp.
				<ul>
					<li>
						Information Technology
					</li>
					<li>
						Process Administrator
					</li>
					<li>
						Executive Administrative Assistant
					</li>
				</ul>
			<br />
			Avant8 Marketing
				<ul>
					<li>
						Administrative Assistant
					</li>
				</ul>
			PI Medical Fortress, Valley Mountain Medical, &amp; Grant Professional Strategies
			<ul>
				<li>
					Executive Administrative Assistant
				</li>
			</ul>
			<br />
			Millcreek Chiropractic
			<ul>
				<li>
					Executive Assistant
				</li>
				<li>
					Chiropractic Assistant
				</li>
			</ul>
<hr />
<a href="/">Home</a> <br />
<a href="/contactme">Contact Me</a>